{% extends 'base/form-base.html' %}
{% load staticfiles %}


{% block header_title %}Dashboard{% endblock header_title %}</h2>

{% block content %}
<div class="row">
    <div class="col-md-6 col-lg-12 col-xl-6">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon">
                                    <img src="{% static 'images/new-bar.png' %}" alt="new-bar">
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <a href="{% url 'bar:add-bar' %}"><h4 class="title">Create a new Bar</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon">
                                    <img src="{% static 'images/drink.png' %}" alt="drink">
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <a href="{% url 'bar:add-drink' %}"><h4 class="title">Add a drink</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon">
                                    <img src="{% static 'images/edit.png' %}" alt="edit">
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <a href="{% url 'bar:list' %}"><h4 class="title">Edit an <br/> exisitng Bar</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon">
                                    <img src="{% static 'images/help.png' %}" alt="help">
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Help and <br/>Support</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-12 col-xl-6">
        <section class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="chart-data-selector" id="salesSelectorWrapper">
                            <h2>
                                Sales:
                                <strong>
                                    <select class="form-control" id="salesSelector">
                                        <option value="Porto Admin" selected>Porto Admin</option>
                                        <option value="Porto Drupal">Porto Drupal</option>
                                        <option value="Porto Wordpress">Porto Wordpress</option>
                                    </select>
                                </strong>
                            </h2>

                            <div id="salesSelectorItems" class="chart-data-selector-items mt-sm">
                                <!-- Flot: Sales Porto Admin -->
                                <div class="chart chart-sm" data-sales-rel="Porto Admin" id="flotDashSales1"
                                     class="chart-active"></div>
                                <script type="d711632331b9ebc2d47a8364-text/javascript">

														var flotDashSales1Data = [{
															data: [
																["Jan", 140],
																["Feb", 240],
																["Mar", 190],
																["Apr", 140],
																["May", 180],
																["Jun", 320],
																["Jul", 270],
																["Aug", 180]
															],
															color: "#f7bc4e"
														}];

														// See: assets/javascripts/dashboard/examples.dashboard.js for more settings.



                                </script>

                                <!-- Flot: Sales JSOFT Drupal -->
                                <div class="chart chart-sm" data-sales-rel="JSOFT Drupal" id="flotDashSales2"
                                     class="chart-hidden"></div>
                                <script type="d711632331b9ebc2d47a8364-text/javascript">

														var flotDashSales2Data = [{
															data: [
																["Jan", 240],
																["Feb", 240],
																["Mar", 290],
																["Apr", 540],
																["May", 480],
																["Jun", 220],
																["Jul", 170],
																["Aug", 190]
															],
															color: "#2baab1"
														}];

														// See: assets/javascripts/dashboard/examples.dashboard.js for more settings.



                                </script>

                                <!-- Flot: Sales JSOFT Wordpress -->
                                <div class="chart chart-sm" data-sales-rel="JSOFT Wordpress" id="flotDashSales3"
                                     class="chart-hidden"></div>
                                <script type="d711632331b9ebc2d47a8364-text/javascript">

														var flotDashSales3Data = [{
															data: [
																["Jan", 840],
																["Feb", 740],
																["Mar", 690],
																["Apr", 940],
																["May", 1180],
																["Jun", 820],
																["Jul", 570],
																["Aug", 780]
															],
															color: "#734ba9"
														}];

														// See: assets/javascripts/dashboard/examples.dashboard.js for more settings.



                                </script>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <h2 class="panel-title mt-md">Sales Goal</h2>
                        <div class="liquid-meter-wrapper liquid-meter-sm mt-lg">
                            <div class="liquid-meter">
                                <meter min="0" max="100" value="35" id="meterSales"></meter>
                            </div>
                            <div class="liquid-meter-selector" id="meterSalesSel">
                                <a href="#" data-val="35" class="active">Monthly Goal</a>
                                <a href="#" data-val="28">Annual Goal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="row repost_row">
    <div class="col-md-6 col-lg-12 col-xl-6">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-6">
                <section class="panel panel-featured-left bl">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon">
                                    <img src="{% static 'images/report.png' %}" alt="report">
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Reports <br/> & Statistics</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6 visitors">
                <section class="panel panel-featured-left bl">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-secondary black">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Today's Visitors</h4>
                                    <div class="info">
                                        <strong class="amount">3765</strong>
                                    </div>
                                </div>
                                <div class="summary-footer">
                                    <a class="text-muted text-uppercase">(Report)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">Best Seller</h2>
                <p class="panel-subtitle">Customize the graphs as much as you want, there are so many options and
                    features to display information using JSOFT Admin Template.</p>
            </header>
            <div class="panel-body">

                <!-- Flot: Basic -->
                <div class="chart chart-md" id="flotDashBasic"></div>
                <script type="d711632331b9ebc2d47a8364-text/javascript">

									var flotDashBasicData = [{
										data: [
											[0, 170],
											[1, 169],
											[2, 173],
											[3, 188],
											[4, 147],
											[5, 113],
											[6, 128],
											[7, 169],
											[8, 173],
											[9, 128],
											[10, 128]
										],
										label: "Series 1",
										color: "#0088cc"
									}, {
										data: [
											[0, 115],
											[1, 124],
											[2, 114],
											[3, 121],
											[4, 115],
											[5, 83],
											[6, 102],
											[7, 148],
											[8, 147],
											[9, 103],
											[10, 113]
										],
										label: "Series 2",
										color: "#2baab1"
									}, {
										data: [
											[0, 70],
											[1, 69],
											[2, 73],
											[3, 88],
											[4, 47],
											[5, 13],
											[6, 28],
											[7, 69],
											[8, 73],
											[9, 28],
											[10, 28]
										],
										label: "Series 3",
										color: "#734ba9"
									}];

									// See: assets/javascripts/dashboard/examples.dashboard.js for more settings.


                </script>

            </div>
        </section>
    </div>
</div>
{% endblock content %}

{% block page-js %}
<script src="{% static 'js/jquery.flot.js' %}"></script>
<script src="{% static 'js/jquery.flot.tooltip.js' %}" type="d711632331b9ebc2d47a8364-text/javascript"></script>
<script src="{% static 'js/jquery.flot.categories.js' %}" type="d711632331b9ebc2d47a8364-text/javascript"></script>
<script src="{% static 'js/snap.svg.js' %}"></script>
<script src="{% static 'js/liquid.meter.js' %}"></script>
<script src="{% static 'js/theme.js' %}" type="text/javascript"></script>
<script src="{% static 'js/theme.init.js' %}" type="d711632331b9ebc2d47a8364-text/javascript"></script>
<script src="{% static 'js/examples.dashboard.js' %}" type="d711632331b9ebc2d47a8364-text/javascript"></script>
<script src="{% static 'js/rocket-loader.min.js' %}" data-cf-settings="d711632331b9ebc2d47a8364-|49" defer=""></script>
<script src="{% static 'js/base/common.js' %}"></script>
<script src="{% static 'js/libs/bootstrap-datetimepicker.js' %}"></script>

{% endblock page-js %}