{% extends 'base/skeleton.html' %}

{% block left-sidebar %}{% endblock left-sidebar %}
{% block right-sidebar %}{% endblock right-sidebar %}
{% block navbar %}{% endblock navbar %}

{% load staticfiles %}
{% load form_field_tag %}

{% block body-parent-class %}{% endblock body-parent-class %}

{% block page-css %}
<style>
	p.forgot-text {
		margin-top: 20px;
		font-size: 15px;
	}
	label.go-login a:hover {
		opacity: .66;
	}
	label.go-login a {
		color: #000;
	}

</style>

{% endblock page-css %}

{% block page-body %}
<div class="container-login100" style="background-image: url('/static/images/forgot.jpg');">
    <div class="wrap-login100">
        <form class="login100-form validate-form" method="post">
            {% csrf_token %}
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

            <span class="login-form p-b-34 p-t-27">
                <img src="{% static 'images/logo.png' %}" width="250px">
            </span>

            {% if form.errors %}
                <div class="mt-4">
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            <p class="forgot-text">Enter the email address <br/>associated with email account</p>

            <div class="wrap-input100 validate-input" data-validate="Enter email">
                <input class="input100" type="text" name="email" placeholder="Email">
                <span class="focus-input100" data-placeholder="&#xf207;"></span>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="mb-xs mt-xs mr-xs btn btn-warning" type="submit">
                        Reset Password
                    </button>
                </div>
                <div class="col-md-12">
                    <label class="go-login">
                        <a href="{% url 'account:login' %}">Go to Login</a>
                    </label>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock page-body %}